/Grading-Calc-COPY.iml
/CodeNameOneBuildClient.jar
/out/
/codenameone_settings.properties
/nbproject/
/Grading-Calc-COPY.iml
/lib/
/build.xml
/.idea/
/lists.txt
/override/
/native/
/JavaSE.jar
/.gitignore
/icon.png
/display.png
/codenameone_kotlin.properties
/.idea/
/lib/
/native/
/nbproject/
/override/